<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Projects</a></li>
        <li><a href="#">Start a Project</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#footer">Contact</a></li>
      </ul>
      <form class="navbar-form navbar-left searchbar">
        <div class="form-group" style="">
          <div class="input-group">
            <input type="text" class="form-control" id='search-input'>
            <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
          </div>
        </div>
      </form>
      <!--
      < if logged in >
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">user.name</a></li>
        <li><a href="#">Log Out</a></li>
      </ul>
      < else >
      -->
      <ul class="nav navbar-nav navbar-right">
      <% if session[:user_id].nil? %>
        <li><%= link_to 'Log In',new_sessions_path,method: :get %></li>
        <li><%= link_to 'Sign up',new_user_path,method: :get %></li>
      <% else %>
        <% if session[:type] == 1 %>
          <li><%= link_to current_consumer.name, individual_path(current_consumer.id),method: :get %></li>
        <% else %>
          <li><%= link_to current_consumer.name, company_path(current_consumer.id),method: :get %></li>
        <% end %>
        <li ><%= link_to 'Log Out',sessions_path,method: :delete %></li>
      <% end%>
      </ul>
    </div>
  </div>
</nav>